/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
  /* display: flex;
  flex-direction: column; */
}

main img {
  width: 100%;
  padding-bottom: 15px;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

#menu{
  padding-left: 0px;
}

header nav ul{
  display: flex;
  justify-content: center;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li:last-child a{
  padding-right: 0px;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
  display: flex;
  flex-direction: column;
  
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 65%;
  float: right;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media all and (min-width: 600px){
  form{
    flex-direction: row;
  }
  .group{
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .item{
    margin: 10px;
  }
  .item input{
    display: flex;
    width: 100%;
  }
  .item label
  ,.item select
  ,.item button{
    display: flex;
    width: 100%;
    
  } 
  .vaca .item{
    display:flex block;
    flex: 1 1 auto;
    flex-direction: column;
  }

  header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
  }

  .grid-holder{
    display: flex;
    flex-direction: row;
    flex: 1;
  }
  .grid{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 10px
  }
}
